@import './../../styles/vars.scss';


.button-cta{
    color: $main;
    font-family: $main-text;
    font-size: 20px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: $accent;
    border: 3px solid $accent;
    height: 27px;
    box-sizing: content-box;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }

}
.button-secondary{
    color: $main;
    font-size: 20px;
    font-family: $main-text;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: $white;
    border: 3px solid $accent;
    height: 27px;
    box-sizing: content-box;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }
}
